{% if schema.example is not none and schema.type not in ['object', 'array'] %}
	{% set example = '<span style="margin-left: 2em; float: right;">*Example:* `' + example_text(schema.example) + '`</span>' %}
{% endif %}
{% if type_text is not none %}
	<div markdown="1" style="width: 100%;"><span class="bold">{{ type_text }}</span>{{ example }}</div>
{% endif %}
{% if schema.raw_schema['added'] is defined %}
	<div class="mdx-added" markdown="1">:octicons-tag-24: *Added {{ schema.raw_schema['added'] }}.*</div>
{% endif %}
{% if schema.raw_schema['removed'] is defined %}
	<div class="mdx-removed" markdown="1">:octicons-tag-24: *Removed {{ schema.raw_schema['removed'] }}.*
	{% if schema.raw_schema['replacedBy'] is defined %}
		Replaced by {{ schema_link(schema.get(schema.raw_schema['replacedBy']), section=False) }}.
	{% endif %}
	</div>
{% endif %}
{% for desc in schema.description.split('\n') %}
{% if desc|length > 0 %}
	<div markdown="1">{{ process_description(schema.root_schema, desc) }}</div>
{% endif %}
{% endfor %}
{% if schema.raw_schema['helpWanted'] is defined %}
	<div markdown="1">
		<span class="mdx-help">:octicons-tag-16: **Help Wanted:** </span>
		*{{ process_description(schema.root_schema, schema.raw_schema['helpWanted']) }} Contributions to improve this [are welcome]({{ schema_repo_link(schema) }}).*
	</div>
{% endif %}