{% if schema.raw_schema['extra_color'] is defined %}
	<div class="info-color" style="align-self: stretch; background-color: {{ schema.raw_schema['extra_color'] }};"></div>
{% endif %}
{% if schema.raw_schema['extra_icon'] is defined %}
	<img class="info-icon" src="../../static/icons/{{ schema.raw_schema['extra_icon'] }}"/>
{% endif %}
<div class="info-block">
	<span class="bold" style="color: var(--md-code-fg-color);">{{ schema.title }}</span>
	{{ info_block }}
</div>
{{ ' {: class="info-cell" }' }}